<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Event management</h1>
    <form action="/user" method="get">
        <button>User Table</button>
    </form>
    <br>
    <form action="/venue" method="get">
        <button>Venue Table</button>
    </form>
    <br>
    <form action="/event" method="get">
        <button>Event Table</button>
    </form>
    <br>
    <form action="/guest" method="get">
        <button>Guest Table</button>
    </form>
    <br>
    <form action="/vendor" method="get">
        <button>Vendor Table</button>
    </form>
    <br>
    <form action="/feedback" method="get">
        <button>Feedback Table</button>
    </form>
    <br>
</body>
</html>